In [1]:
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [7]:
anime <- read.csv('anime.csv')

In [9]:
count(anime)

  n
1 12294

In [10]:
head(anime)

  anime_id name
1 32281    Kimi no Na wa.
2  5114    Fullmetal Alchemist: Brotherhood
3 28977    GintamaÂ°
4  9253    Steins;Gate
5  9969    Gintama&#039;
6 32935    Haikyuu!!: Karasuno Koukou VS Shiratorizawa Gakuen Koukou
  genre                                                        type  episodes
1 Drama, Romance, School, Supernatural                         Movie 1
2 Action, Adventure, Drama, Fantasy, Magic, Military, Shounen  TV    64
3 Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen TV    51
4 Sci-Fi, Thriller                                             TV    24
5 Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen TV    51
6 Comedy, Drama, School, Shounen, Sports                       TV    10
  rating members
1 9.37   200630
2 9.26   793665
3 9.25   114262
4 9.17   673572
5 9.16   151266
6 9.15    93351

In [12]:
tv_anime <- filter(anime, type=='TV')

In [44]:
tv_anime <- select(tv_anime, anime_id, name, genre, type, episodes, rating)

In [45]:
head(tv_anime)

  anime_id name
1  5114    Fullmetal Alchemist: Brotherhood
2 28977    GintamaÂ°
3  9253    Steins;Gate
4  9969    Gintama&#039;
5 32935    Haikyuu!!: Karasuno Koukou VS Shiratorizawa Gakuen Koukou
6 11061    Hunter x Hunter (2011)
  genre                                                        type episodes
1 Action, Adventure, Drama, Fantasy, Magic, Military, Shounen  TV   64
2 Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen TV   51
3 Sci-Fi, Thriller                                             TV   24
4 Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen TV   51
5 Comedy, Drama, School, Shounen, Sports                       TV   10
6 Action, Adventure, Shounen, Super Power                      TV   148
  rating
1 9.26
2 9.25
3 9.17
4 9.16
5 9.15
6 9.13

In [46]:
count(tv_anime)

  n
1 3787

In [29]:
ratings <- read.csv('rating.csv')

In [30]:
head(ratings)

  user_id anime_id rating
1 1        20      -1
2 1        24      -1
3 1        79      -1
4 1       226      -1
5 1       241      -1
6 1       355      -1

In [33]:
new_ratings <- filter(ratings, rating!=-1)

In [34]:
new_ratings

        user_id anime_id rating
1       1        8074    10
2       1       11617    10
3       1       11757    10
4       1       15451    10
5       2       11771    10
6       3          20     8
7       3         154     6
8       3         170     9
9       3         199    10
10      3         225     9
11      3         341     6
12      3         430     7
13      3         527     7
14      3         552     7
15      3         813    10
16      3        1119     7
17      3        1121     7
18      3        1122     7
19      3        1132     8
20      3        1292     6
21      3        1313     8
22      3        1526     7
23      3        1535    10
24      3        1564     7
25      3        1689     8
26      3        1764     6
27      3        1943     8
28      3        2201     7
29      3        2404     7
30      3        2847     7
...     ...     ...      ...
6337212 73515   10490     6
6337213 73515   10588     9
6337214 73515   11021     8
6337215 73515   11111     8
6337216 73515   11241     8
6337217 73515   11411     5
6337218 73515   11701     7
6337219 73515   11741     9
6337220 73515   11751     6
6337221 73515   11757     9
6337222 73515   11759     8
6337223 73515   11837     9
6337224 73515   12031     8
6337225 73515   12113    10
6337226 73515   12115    10
6337227 73515   12293     8
6337228 73515   12413     9
6337229 73515   12445     8
6337230 73515   12461     7
6337231 73515   12967     7
6337232 73515   13161     8
6337233 73515   13331     9
6337234 73515   13599     7
6337235 73515   13659     8
6337236 73515   14345     7
6337237 73515   16512     7
6337238 73515   17187     9
6337239 73515   22145    10
6337240 73516     790     9
6337241 73516    8074     9

In [58]:
tv_anime_user_ratings <- filter(new_ratings, anime_id %in% tv_anime$anime_id)

In [59]:
count(tv_anime_user_ratings)

  n
1 4364294

In [60]:
head(tv_anime_user_ratings)

  user_id anime_id rating
1 1        8074    10
2 1       11617    10
3 1       11757    10
4 1       15451    10
5 2       11771    10
6 3          20     8

In [61]:
write.csv(tv_anime, "C:\\Users\\Tarun Luthra\\Desktop\\Anime recommendation system\\Tidy data\\TV Animes.csv",row.names = FALSE)

In [62]:
write.csv(tv_anime_user_ratings, "C:\\Users\\Tarun Luthra\\Desktop\\Anime recommendation system\\Tidy data\\TV User Ratings.csv", row.names = FALSE)